@page "/"

<PageTitle>MathSpectrum - Fourier Visualizer</PageTitle>

<h1>🎵 MathSpectrum</h1>
<p>Interactive Fourier Series Visualizer</p>

<div class="alert alert-info">
    <h4>🚀 Debug Fourier Calculator</h4>
    <p>Check out the <a href="/debug">debug page</a> to see harmonic calculations.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h5>Supported Functions:</h5>
        <ul>
            <li>Square Wave</li>
            <li>Triangle Wave</li>
            <li>Sawtooth Wave</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h5>Tech Stack:</h5>
        <ul>
            <li>.NET 8 + Blazor WebAssembly</li>
            <li>C# Fourier Mathematics</li>
            <li>Real-time Visualization</li>
        </ul>
    </div>
</div>
