@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>MathSpectrum - Fourier Visualizer</PageTitle>

<h1>🎵 MathSpectrum</h1>
<p>Interactive Fourier Series Visualizer</p>

<div class="alert alert-info">
    <h4>🚀 Debug Fourier Calculator</h4>
    <p>Check out the <a href="/debug">debug page</a> to see harmonic calculations.</p>
</div>
